body{
    background: #43464B;
    margin: auto;
    top: 0;
}

.container {
    background-color: #fff;
}

#tagline-header-1 {
    font-size: 7rem
}

#tagline-header-2 {
    font-size: 4rem
}
h5 {
   color:rgb(87, 144, 164)
   
}
img {
    border-radius: 50%;
  }
  black-text {
    color: black;
  }
  .gray-text {
    color: gray;
  }
