body{
    background: black;
    margin: auto;
    top: 0;
}

.container {
    background-color: #fff;
}

#tagline-header-1 {
    font-size: 7rem
}

#tagline-header-2 {
    font-size: 4rem
}
h5 {
   color:#3D73A2
   
}
  black-text {
    color: black;
  }
  .gray-text {
    color: gray;
  }
