body{
    background: #000;
    margin: auto;
    top: 0;
}

.container {
    background-color: #fff;
}
img {
    border-radius: 50%;
  }
  black-text {
    color: black;
  }
  .gray-text {
    color: gray;
  }