<!-- your html code here -->
<div class="container d-flex">
    <div class="content">
<span>

<p>Hello, I'm the first_heading.html</p>
<div>
<p class="text-start">This First Heading</p>
</div>
<h3>
    <strong>
    This First Heading
</strong>

    <small class="text-body-secondary text-secondary link-opacity-25"><b>Will Catch Your Eye</b>.</small>
  </h3>
  
<p class="left content-justify">Donec ullamcorp nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
    consectetur. Fusce dapibus, tellus ac cursus commodo</p>
</span>
</div>
<span class="imgbox">
    <div class="row">
        <div class="col align-self-start">
            <img src="assets/img/1.jpg" class="rounded-circle float-end" alt="...">
            <img align="right">
          
        </div>
     
    </span>
