<h1><strong>Portfolio</strong></h1>
<p>This is the portfolio with lots of information, I hope you enjoy my work!</p>

<div class="container">
<div class="row mb-4">
<div class="col-md-4">
  <div class="card" style="width: 20rem;">
    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5><strong>Project Name</strong></h5>
      <p class="card-text">This is a project we worked on together.</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card" style="width: 20rem;">
    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5><strong>Project Name</strong></h5>
      <p class="card-text">Here is a card I pulled from bootstrap because I'm learning.</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card" style="width: 20rem;">
    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5><strong>Project Name</strong></h5>
      <p >I struggled a little.</p>
    </div>
  </div>
</div>
</div>
</div>