<!-- your html code here -->
<h1><strong>portfolio</strong></h1>
<p>This is the portfolio with lots of information, I hope you enjoy my work!</p>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card-1" style="width: 18rem;">
      <img src="/workspaces/mia-pt-56-collaborative-html-website/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
</div>


<div class="card-2" style="width: 18rem;">
  <img src="/workspaces/mia-pt-56-collaborative-html-website/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h1><strong> This is a test font</strong></h1>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>

<div class="card-3" style="width: 18rem;">
  <img src="/workspaces/mia-pt-56-collaborative-html-website/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
</div>