<div class="container mt-5 p-5">
  <div class="row p-5 border-bottom border-top">
    <div class="col-md-4 py-5">
      <img src="assets/img/2.jpg" alt="Avatar" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-8 py-5">
      <h1 class="black-text">This Second Heading<span class="gray-text ms-2">Is Pretty Cool Too</span></h1>
      Donec ullamcorper nulla non metus auctor fringinla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelirisque nisl consecteur. Fusce dapibus, tellus ac cursus commodo.
    </div>
  </div>
</div>